.hostForm {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    max-width: 800px; /* Increased width */
    margin: 50px auto; /* Center the form and leave space for the fixed header */
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 120px;
}

label {
    margin-bottom: 8px; /* Increased margin */
    font-weight: bold;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.form-group {
    width: 48%;
}
input[type=text], input[type=datetime-local] {
    width: 100%;
    padding: 10px; /* Adjusted padding */
    margin-bottom: 16px; /* Increased margin */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#questions-div {
    margin-top: 16px; /* Increased margin */
}
/* #questions-div label {
    margin-right: 600px;
    display: flex;
    align-items: center;
    margin-bottom: 8px; /* Adjusted margin for better spacing */
/* } */ 
/* 
#questions-div input {
    margin-left: 1px; /* Adjusted margin for better spacing */
/* } */

#questions-div p {
    font-weight: bold;
    margin-bottom: 8px; /* Increased margin */
}

/* #questions-div label {
    display: flex;
    align-items: center;
    margin-bottom: 8px; /* Increased margin */
/* } */ 

/* #questions-div input {
    margin-right: 8px; /* Adjusted margin */
/* } */ 

.inv-theme-tiles {
    display: flex;
    flex-wrap: wrap;
    gap: 16px; /* Adjusted gap between tiles */
    justify-content: space-between;
}

.image-tile {
    position: relative;
    width: calc(25% - 16px); /* Four tiles per row with adjusted width and gap */
    margin-bottom: 16px; /* Increased margin */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    overflow: hidden;
}

.image-tile img {
    width: 100%;
    height: 196px;
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;
}

.image-tile:hover img {
    transform: scale(1.1);
}

.file-input-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    margin-left: 90px;
}

.file-input {
    opacity: 0;
    cursor: pointer;
}

.faiconplus {
    color: #000000;
    font-size: 24px;
    margin: 0;
    padding: 0;
}

#questions-div hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 8px 0; /* Increased margin */
}

#create-inv-btn {
    background-color: darkslategray;
    color: #fff;
    padding: 12px 20px; /* Adjusted padding */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 16px; /* Increased margin */
}

#create-inv-btn:hover {
    background-color: #0056b3;
}

.question-div{
    display: flex;
    flex-direction: row;
    width: max-content;
}

.checkbox-question{
    height: 20px;
    margin-right: 15px;
}

.form-tile-name{
    border: none;
    display: flex;
    justify-content: center;
}
.event-type-display{
    border: none;
}
.checkbox-label{
    width: fit-content;
}

.question-div{
    display: flex;
    flex-direction: row;
    width: fit-content;
    flex-wrap: nowrap;
}

h6{
    font-weight: bold;
}