.loginDiv{
   margin-bottom: 120px;
   margin-top: 175px;
}
span{
    display: flex;
    justify-content: flex-end;
}

.form-group{
    margin-bottom: 6px;
}
.login-form, .register-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(210, 205, 210);
    border-radius: 5px;
    padding: 12px;
}
#login-btn{
    display: flex;
}